<div class="m_brand">
  <h1>大学の授業の新しい形</h1>
  <%= image_tag 'imac2.png', height: "92%" %>
</div>
<div class="m_welcome_middle">
  <ul class="m_function_list">
    <li>
      <h2>統計に基づいた履修選択</h2>
      <p>誰が言ったかわからないレビューや口コミで授業を履修するっていつの時代の話？ほら、こっちのほうがはるかに洗練されてる。</p>
      <script type="text/javascript">
        $(function () {
          var chart;
          $(document).ready(function() {
            var colors = Highcharts.getOptions().colors, 
            categories = ['A', 'B', 'C', 'D'], 
            name = '評価分布',
            data = 
            [
              {
                y: 18,
                color: colors[0]
              },
              {
                y: 29,
                color: colors[1]
              },
              {
                y: 41,
                color: colors[2]
              },
              {
                y: 32,
                color: colors[3]
              }
            ];
            function setChart(name, categories, data, color) {
              chart.xAxis[0].setCategories(categories, false);
              chart.series[0].remove(false);
              chart.addSeries({
                name: name,
                data: data,
                color: color || 'white'
              }, false);
              chart.redraw();
            }
            chart = new Highcharts.Chart({
              chart: {
                renderTo: 'm_welcome_class_graph_container',
                type: 'column'
              },
              title: {
                text: '2012年度'
              },
              subtitle: {
                text: '「経済学」の成績分布グラフ'
              },
              xAxis: {
                categories: categories
              },
              yAxis: {
                title: {
                  text: '評定ごとの人数'
                }
              },
              legend: {
                enabled: false
              },
              plotOptions: {
                column: {
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    color: colors[0],
                    style: {
                      fontWeight: 'bold'
                    },
                    formatter: function() {
                      return this.y +'人';
                    }
                  }
                }
              },
              tooltip: {
                formatter: function() {
                  var point = this.point,
                  s = this.x +':<b>'+ this.y +'人</b><br/>';
                  return s;
                }
              },
              series: [{
                name: name,
                data: data,
                color: 'white'
              }],
              exporting: {
                enabled: false
              }
            });
          });
        });
      </script>
      <div id="m_welcome_class_graph_container" style="width:100%; height:300px; margin: 0;"> </div>
    </li>
    <li>
      <h2>学内での順位がわかる</h2>
      <p>やっぱり順位って気になるよね。オープンカレッジではめんどうな入力なしに大学、学部、学科での順位がわかります。</p>
      <script type="text/javascript">
        (function($){ // encapsulate jQuery
          $(function () {
          $('#m_welcome_rank_container').highcharts({
              chart: {
                  type: 'spline',
                  style: {
                      margin: '0 auto'
                  }
              },
              title: {
                  text: 'GPA分布図'
              },
              subtitle: {
                  text: '慶応義塾大学'
              },
              xAxis: {
                  reversed: false,
                  title: {
                      enabled: true,
                      text: 'GPA'
                  },
                  labels: {
                      formatter: function() {
                          return this.value +'';
                      }
                  },
                  maxPadding: 0.05,
                  showLastLabel: true
              },
              yAxis: {
                  title: {
                      text: '人数'
                  },
                  labels: {
                      formatter: function() {
                          return this.value + '人';
                      }
                  },
                  lineWidth: 2
              },
              legend: {
                  enabled: false
              },
              tooltip: {
                  headerFormat: '<b>{series.name}</b><br/>',
                  pointFormat: '{point.x} : {point.y}人'
              },
              plotOptions: {
                  spline: {
                      marker: {
                          enable: false
                      }
                  }
              },
              series: [{
                  name: 'GPA',
                  data: [
                    [0, 2],[0.8, 18],[1.8, 104],[2.4, 210], [3.0, 186], [4.0, 10]
                  ]
              }]
          });
      });
        })(jQuery);
      </script>
      <div id="m_welcome_rank_container" style="width: 100%; height: 300px; margin: 0 auto"></div>
    </li>
    <li>
      <h2>おすすめの授業</h2>
      <p>今年度履修授業から、統計に基づくラク単・エグ単の授業を教えてくれます。</p>
      <script type="text/javascript">
        $(function () {
          $('#m_welcome_ratio_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'ラク単・英語１'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
            plotOptions: {
              pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                  }
                }
              }
            },
            series: [{
              type: 'pie',
              name: '割合',
              data: [
                ['A', 42],
                ['B', 38],
                ['C', 12],
                ['D', 8]
              ]
            }]
          });
        });
      </script>
      <div id="m_welcome_ratio_container" style="width: 100%; height: 300px; margin: 0 auto;"></div>
    </li>
  </ul>
  <div class="attention">
    現在は慶應義塾大学のみ利用可能です。<br>
    ご要望・フィードバックがあれば<a href="https://twitter.com/yukihariguchi" target="_blank">@yukihariguchi</a>まで。  
  </div>
  <div class="m_welcome_btn_container">
    <%= link_to "アカウント登録", signup_path, class: "m_btn_primary m_btn_large" %>
  </div>
  <div class="m_welcome_btn_container">
    <%= link_to "ログイン", signin_path, class: "m_btn m_btn_large" %>
  </div>
</div>
<div class="m_welcome_buttom">
  <p class="copyright">&copy; 2013 Yuki Hariguchi</p>
  <div class="welcome_share">
    <span class="welcome_twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://open-college.herokuapp.com" data-text="まだレビューや噂で授業を選んでる？もっと客観的で正確なデータをもとに授業を選びたいよね。それがここならできるってわけ。大学の授業の新しい形、OpenCollege。" data-via="yukihariguchi" data-lang="ja">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </span>
    <span>
      <div class="fb-like" data-href="https://open-college.herokuapp.com" data-send="false" data-width="250" data-show-faces="false" data-layout="button_count"></div>
    </span>
  </div>
</div>