// Place all the styles related to the ClassRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_room_for_years {
  .home {
    padding: 30px 0;
    .left_box {
      width: 220px;
      float: left;
      ul {
        li {
          padding-bottom: 12px;
          border-bottom: 1px solid #ddd;
          margin-bottom: 18px;
          &:last-child {
            border-bottom: none;
          }
          .topic {
            font-size: 20px;
            margin-bottom: 14px;
          }
          ul {
            li {
              width: 25%;
              float: left;
              text-align: center;
              border-left: 1px dashed #aaa;
              border-bottom: none;
              padding-bottom: 0;
              font-size: 16px;
              line-height: 22px;
              &:first-child {
                border-left: none;
              }
            }
          }
        }
        .class_name {
          font-size: 24px;
          margin-bottom: 14px;
        }
        .teacher_name {
          font-size: 20px;
        }
      }
    }
    .right_box {
      width: 700px;
      margin-left: 40px;
      float: left;
      h2 {
        color: #837A71;
        font-size: 22px;
      }
    }
  }
}