.m_main_container {
  width: 100%;
}

.m_welcome {
  padding: 20px 10px;
  .m_brand {
    text-align: center;
    h1 {
      font-size: 20px;
      margin-bottom: 25px;
      font-family: palatino,"palatino linotype","book antiqua",serif;
    }
    h2 {
      font-size: 24px;
      color: #aaa;
      margin-bottom: 15px;
    }
  }
}