// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome {
  #top_container {
    width: 100%;
    height: 440px;
    background-color:#000;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-box-shadow:inset 0 0 0 black,inset 0 -50px 150px rgba(0,0,0,0.8);
    -moz-box-shadow:inset 0 0 0 black,inset 0 -50px 150px rgba(0,0,0,0.8);
    box-shadow:inset 0 0 0 black,inset 0 -50px 150px rgba(0,0,0,0.8);
    background-image: url("blur.jpg");
    padding: 15px 0 0;
    overflow: hidden;
    #slider_container {
      width: 862px;
      margin: auto;
      #slider_left {
        float: left;
        width: 400px;
        color: #fff;
        h1 {
          font-weight: bold;
          text-shadow: 0 1px 3px #000;
          font-size: 34px;
          margin: 70px 0 0;
        }
        p {
          margin: 14px 0 0;
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
          text-shadow: 0 1px 1px #000000;
          
          span {
            display: inline-block;
            font-weight: bold;
            margin: 0 0 5px;
          }
        }
        .form_container {
          margin: 8px 0;
          .half_cotainer {
            width: 160px;
            float: left;
          }
          .latter {
            margin-left: 10px;
          }
        }
        .field_input {
          padding: 0 10px;
          height: 34px;
          outline: 0 none;
          border-radius: 6px;
          background-color: rgba(255,255,255,0.9);
          font-weight: normal;
          font-size: 14px !important;
          font-family: Helvetica,Arial,sans-serif;
          
        }
        .half_form {
          width: 160px;
        }
        .mail_form {
          width: 330px;
        }
        .welcome_reg_btn {
          display: block;
          width: 330px;
          border-radius: 6px;
          padding: 10px 10px 8px;
          font-size: 12px;
          margin: 10px 0 14px;
        }
        .terms {
          opacity: 0.9;
          line-height: 18px;
          text-shadow: 0 1px 3px #000;
          width: 330px;
          font-weight: bold;
          margin: 10px 0 6px 0;
        }
      }
      #slider_right {
        float: left;
        width: 462px;
        #desktop {
        }
      }
    }
  }
  #middle_container {
    padding: 60px 0;
    h1 {
      color: #837A71;
      font-size: 27px;
      font-weight: normal;
      line-height: normal;
      margin: 0 0 25px;
      padding: 0;
      text-align: center;
    }
    ul {
      li {
        width: 310px;
        margin-left: 15px;
        float: left;
        text-align: center;
        h2 {
          color: #555;
          font-size: 18px;
          margin-top: 20px;
        }
        .brand {
          height: 210px;
        }
        .rank_brand {
          height: 180px;
        }
        .welcome_easy_recommend {
          width: 100px;
          height: 100px;
          line-height: 100px;
          border-radius: 50px;
          background-color: rgb(0,133,194);
          text-align: center;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          float: left;
          margin-left: 50px;
          margin-top: 30px;
        }
        .welcome_difficult_recommend {
          width: 100px;
          height: 100px;
          line-height: 100px;
          border-radius: 50px;
          background-color: rgb(0,133,194);
          text-align: center;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          margin-left: 12px;
          margin-top: 50px;
          float: left;
        }
        .welcome_rank_container {
          width: 240px;
          margin: 30px auto 0;
          background-color: #dcf7dd;
          border: 1px solid #bbd2bc;
          border-top-color: #d1ead2;
          border-radius: 6px;
          padding: 40px 10px;
          text-align: center;
          .welcome_rank {
            text-shadow:1px 1px 0 #fff;
            color: #4183C4;
            font-size: 40px;
            margin-bottom: 18px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      li:first-child {
        margin-left: 0;
      }
    }
  }
  .buttom_container {
    border-top: 1px solid #dddddd;
    padding: 18px 0;
    .welcome_share {
      float: right;
      margin-top: -16px;
      span {
        float: left;
      }
      .welcome_twitter {
        margin-right: -30px;
      }
    }
  }
  
}