<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li>ブックマーク</li>
    <li>読み取り</li>
    <li class="active"><b class="caret"></b>完了</li>
  </ul>
  <div class="guide_explain">
    <h2><%= current_user.play %>おめでとう！</h2>
  </div>
</div>