<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li class="active"><b class="caret"></b>ブックマーク</li>
    <li>読み取り</li>
    <li>完了</li>
  </ul>
  <div class="guide_explain">
    <h2>ブックマークレットを使って、成績を読み取る</h2>
    <div class="clearfix">
      <div class="bookmarklet">+ Class</div>
      <p>
        右にある "+ Class" ボタンをドラッグしてブックマークバーに追加してください。<br>
        お使いのブラウザが Internet Explorer (IE) の場合は、 "+ Class" ボタンを右クリックし「お気に入りに追加(F)...」を選択してお気に入りバーに追加してください。
      </p>
    </div>
    <div class="guide_link text_center">
      <%= link_to "次へ", reader_guide_path(current_user), class: "btn btn_large btn_large_radius" %>
    </div>
  </div>
</div>