<div class="guide_container">
  <ul class="guide_nav_container clearfix">
    <li class="active"><b class="caret"></b>ブックマーク</li>
    <li>読み取り</li>
    <li>完了</li>
  </ul>
  <div class="guide_explain">
    <h2>ブックマークレットを使って、成績を読み取る。</h2>
    <div class="clearfix">
      <a href="
      javascript:(function(){
        if (typeof jQuery == 'undefined') {
            var d=document,
                j=d.createElement('script');
            j.type='text/javascript';
            j.src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js';
            j.onload = bml;
            d.body.appendChild(j);
        }else {
            bml();
        }
        function bml(){
          (function($){

            var scripts = document.getElementsByTagName('body')[0].innerHTML;
            var token = { access_token: '<%= current_user.access_token %>' };
            $.post('https://open-college.herokuapp.com/api/v1/outsides/analyze', token, function(data) {
              $.each(data, function(key, value){
                console.log(key + ':' + value);
                console.log(scripts);
              })
            })
            
          })(jQuery);
        }
      })();
      " class="bookmarklet">
        + Class
      </a>
      <p>
        右にある "+ Class" ボタンをドラッグしてブックマークバーに追加してください。<br>
        お使いのブラウザが Internet Explorer (IE) の場合は、 "+ Class" ボタンを右クリックし「お気に入りに追加(F)...」を選択してお気に入りバーに追加してください。
      </p>
    </div>
    <div class="guide_link text_center">
      <%= link_to "次へ", reader_guide_path(current_user), class: "btn btn_large btn_large_radius" %>
    </div>
  </div>
</div>