<div class="m_guide_container">
  <ul class="m_guide_nav_container clearfix">
    <span class="step">STEP</span>
    <li>1</li>
    <span>></span>
    <li class="m_active">2</li>
    <span>></span>
    <li>3</li>
  </ul>
  <div class="m_guide_explain">
    <h2 class="topic">「+Class」ブックマークレットの使用方法</h2>
    <ul class="list_explain">
      <li>
        <h3>
          1. <%= link_to "keio.jp", "https://login.keio.jp/koid/", target: "_blank" %>でログイン
        </h3>
      </li>
      <li>
        <h3>
          2. "学業成績表"をクリック
        </h3>
      </li>
      <li>
        <h3>
          3. 学事webでログイン
        </h3>
      </li>
      <li>
        <h3>
          4. 先ほど登録した「+Class」とタップ
        </h3>
      </li>
      <li>
        <h3>
          5. 解析が終わったら、自動でSTEP「3」にとびます
      </li>
    </ul>
</div>